
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #33333341;
    color: #fff;
    padding: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

header nav a:hover {
    background-color: #575757;
}

.hero {
    text-align: center;
    margin: 20px;
}

.clothing-gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
