body {
    background-color: #f5f5f5;
}

header .logo a {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

}

header nav a {
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    
}

.hero {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero button {
    background-color: #f0c040;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
}

h2 {
    margin: 20px;
    text-transform:uppercase;

}


footer p {
    margin: 0;
}

.row p{
    background-color: #00000028;
    border-radius: 20px;
    padding: 1px;
    display: flex;
    justify-content: center;
}

btn{
    background-color: #f0c040;
}

/*shopping*/


.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.centrado{
    position: absolute;
    top:0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.card{
    background-color: #000000a9;
}

/*barra lateral*/

.lateral {
    width: 250px;
    background-color: #000000;
    color: white;
    padding: 15px;
    height: 100vh;
    position: relative;
}

.lateral header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.lateral ul {
    list-style-type: none;
    padding: 0;
}

.lateral ul li {
    margin-bottom: 10px;
}

.lateral ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.lateral ul li a:hover {
    background-color: #ffffff88;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
}